# [Data Cleaning Challenge Handling missing values](https://www.kaggle.com/rtatman/data-cleaning-challenge-handling-missing-values)
# Day 1

In [1]:
import pandas as pd
import numpy as np

nfl_data = pd.read_csv("../../datasets/NFL Play by Play 2009-2017 (v4).csv")
sf_permits = pd.read_csv("../../datasets/Building_Permits.csv")

np.random.seed(0)

c:\users\alqu\miniconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (25,51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
c:\users\alqu\miniconda3\envs\myenv\lib\site-packages\IPython\core\interactiveshell.py:2785: DtypeWarning: Columns (22,32) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

# Inspecting rows to spot missing values

In [2]:
nfl_data.sample(5)

,Date,GameID,Drive,qtr,down,time,TimeUnder,TimeSecs,PlayTimeDiff,SideofField,...,yacEPA,Home_WP_pre,Away_WP_pre,Home_WP_post,Away_WP_post,Win_Prob,WPA,airWPA,yacWPA,Season
244485,2014-10-26,2014102607,18,3,1.0,00:39,1,939.0,12.0,TB,...,1.240299,0.225647,0.774353,0.245582,0.754418,0.225647,0.019935,-0.018156,0.038091,2014
115340,2011-11-20,2011112000,22,4,1.0,06:47,7,407.0,44.0,OAK,...,NaN,0.056036,0.943964,0.042963,0.957037,0.943964,0.013073,NaN,NaN,2011
68357,2010-11-14,2010111401,8,2,NaN,00:23,1,1823.0,0.0,CLE,...,NaN,0.365307,0.634693,0.384697,0.615303,0.634693,-0.019390,NaN,NaN,2010
368377,2017-09-24,2017092405,24,4,1.0,08:48,9,528.0,8.0,CLE,...,1.075660,0.935995,0.064005,0.921231,0.078769,0.064005,0.014764,0.003866,0.010899,2017
384684,2017-11-05,2017110505,11,2,1.0,09:15,10,2355.0,0.0,DEN,...,NaN,0.928474,0.071526,0.934641,0.065359,0.071526,-0.006166,NaN,NaN,2017

# Does sf_permits dataset have missing values?
Yes

In [3]:
sf_permits.sample(5)

,Permit Number,Permit Type,Permit Type Definition,Permit Creation Date,Block,Lot,Street Number,Street Number Suffix,Street Name,Street Suffix,...,Existing Construction Type,Existing Construction Type Description,Proposed Construction Type,Proposed Construction Type Description,Site Permit,Supervisor District,Neighborhoods - Analysis Boundaries,Zipcode,Location,Record ID
78651,201503120624,8,otc alterations permit,03/12/2015,4273,029,2986,NaN,26th,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,9.0,Mission,94110.0,"(37.74972976527956, -122.40963202424835)",1374057173006
177779,201707071220,8,otc alterations permit,07/07/2017,0453,004A,950,NaN,Bay,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Russian Hill,94109.0,"(37.80472551510833, -122.42280760820965)",1469546420378
64978,M529127,8,otc alterations permit,10/21/2014,0478,011,1290,NaN,Chestnut,St,...,NaN,NaN,NaN,NaN,NaN,2.0,Russian Hill,94109.0,"(37.80244997614665, -122.42443255018165)",1359656465959
165958,201704073507,8,otc alterations permit,04/07/2017,6507,003A,1134,NaN,Noe,St,...,5.0,wood frame (5),5.0,wood frame (5),NaN,8.0,Noe Valley,94114.0,"(37.750866393629146, -122.43209633372915)",1458922436280
147902,201701237639,8,otc alterations permit,01/23/2017,0623,001,1755,NaN,Van Ness,Av,...,5.0,wood frame (5),5.0,wood frame (5),NaN,2.0,Pacific Heights,94109.0,"(37.791925784456105, -122.42306858292103)",1450933235988

# Finding nulls quickly
Using isnull() and summing it is a more streamlined approach to find nulls.

In [4]:
missing_values_count = nfl_data.isnull().sum()
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

# Percentage of missing values
nfl_data

In [5]:
total_cells = np.product(nfl_data.shape)
total_missing = missing_values_count.sum()

(total_missing/total_cells) * 100

24.87214126835169

sf_permits

In [6]:
missing_values_count_sf = sf_permits.isnull().sum()
total_cells_sf = np.product(sf_permits.shape)
total_missing_sf = missing_values_count_sf.sum()

(total_missing_sf/total_cells_sf) * 100

26.26002315058403

# Why is the data missing?
- is the value missing because it wasn't recorded 
    - example:
    - then impute
- or because it doesn't exist?
    - example: height of the oldest child of someone who doesn't have any children => doesn't make sense

**Read the dataset documentation to find out if it's missing for a good reason or not**

In [7]:
missing_values_count[0:10]

Date                0
GameID              0
Drive               0
qtr                 0
down            61154
time              224
TimeUnder           0
TimeSecs          224
PlayTimeDiff      444
SideofField       528
dtype: int64

In [8]:
sf_permits[['Street Number Suffix','Street Number','Zipcode']].isnull()

        Street Number Suffix  Street Number  Zipcode
0                       True          False    False
1                       True          False    False
2                       True          False    False
3                       True          False    False
4                       True          False    False
5                       True          False    False
6                       True          False    False
7                       True          False    False
8                       True          False    False
9                       True          False    False
10                      True          False    False
11                      True          False    False
12                      True          False    False
13                      True          False    False
14                      True          False    False
15                      True          False    False
16                      True          False    False
17                      True          False    False
18                      True          False    False
19                      True          False    False
20                      True          False    False
21                      True          False    False
22                      True          False    False
23                      True          False    False
24                      True          False    False
25                      True          False    False
26                      True          False    False
27                      True          False    False
28                      True          False    False
29                      True          False    False
...                      ...            ...      ...
198870                  True          False    False
198871                  True          False    False
198872                  True          False    False
198873                  True          False    False
198874                  True          False    False
198875                  True          False    False
198876                  True          False    False
198877                  True          False    False
198878                  True          False    False
198879                  True          False    False
198880                  True          False    False
198881                  True          False    False
198882                  True          False    False
198883                  True          False    False
198884                  True          False    False
198885                  True          False    False
198886                  True          False     True
198887                  True          False     True
198888                  True          False     True
198889                  True          False     True
198890                  True          False     True
198891                  True          False     True
198892                  True          False     True
198893                  True          False     True
198894                  True          False     True
198895                  True          False     True
198896                  True          False     True
198897                  True          False     True
198898                  True          False     True
198899                  True          False     True

[198900 rows x 3 columns]

In [9]:
missing_values_count_sf

Permit Number                                  0
Permit Type                                    0
Permit Type Definition                         0
Permit Creation Date                           0
Block                                          0
Lot                                            0
Street Number                                  0
Street Number Suffix                      196684
Street Name                                    0
Street Suffix                               2768
Unit                                      169421
Unit Suffix                               196939
Description                                  290
Current Status                                 0
Current Status Date                            0
Filed Date                                     0
Issued Date                                14940
Completed Date                            101709
First Construction Document Date           14946
Structural Notification                   191978
Number of Existing Stories                 42784
Number of Proposed Stories                 42868
Voluntary Soft-Story Retrofit             198865
Fire Only Permit                          180073
Permit Expiration Date                     51880
Estimated Cost                             38066
Revised Cost                                6066
Existing Use                               41114
Existing Units                             51538
Proposed Use                               42439
Proposed Units                             50911
Plansets                                   37309
TIDF Compliance                           198898
Existing Construction Type                 43366
Existing Construction Type Description     43366
Proposed Construction Type                 43162
Proposed Construction Type Description     43162
Site Permit                               193541
Supervisor District                         1717
Neighborhoods - Analysis Boundaries         1725
Zipcode                                     1716
Location                                    1700
Record ID                                      0
dtype: int64

Find out if missing values for the following are missing for what reason:
- `Street Number Suffix`
- `Zipcode`

From the dictionary description, we know that

| Item | Description |
| :--- | --- |
| `Street Number Suffix` | Related to address | 
| `Zipcode`| Zipcode of building address |

____

To be continued.